USE [master]
GO
/****** Object:  Database [GimnasioUniversitario]    Script Date: 9/6/2026 11:42:17 ******/
CREATE DATABASE [GimnasioUniversitario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GimnasioUniversitario', FILENAME = N'D:\SQLData\GimnasioUniversitario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GimnasioUniversitario_log', FILENAME = N'D:\SQLData\GimnasioUniversitario_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GimnasioUniversitario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GimnasioUniversitario]
GO
/****** Object:  Table [dbo].[datos_fisicos]    Script Date: 9/6/2026 11:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos_fisicos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[peso] [decimal](5, 2) NOT NULL,
	[estatura] [decimal](5, 2) NOT NULL,
	[imc] [decimal](5, 2) NOT NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ejercicios]    Script Date: 9/6/2026 11:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ejercicios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[video_url] [varchar](max) NOT NULL,
	[grupo_muscular] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mis_rutinas]    Script Date: 9/6/2026 11:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mis_rutinas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[ejercicio_id] [int] NOT NULL,
	[completado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservas_maquinas]    Script Date: 9/6/2026 11:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservas_maquinas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[maquina_nombre] [varchar](100) NOT NULL,
	[dia_hora] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_rutinas]    Script Date: 9/6/2026 11:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_rutinas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[ejercicio_nombre] [varchar](255) NOT NULL,
	[completado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 9/6/2026 11:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[carnet] [varchar](50) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
	[foto_perfil] [varchar](max) NULL,
	[rol] [varchar](20) NULL,
	[edad] [int] NULL,
	[sexo] [varchar](20) NULL,
	[facultad] [varchar](100) NULL,
	[carrera] [varchar](100) NULL,
	[imc_guardado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ejercicios] ON 

INSERT [dbo].[ejercicios] ([id], [nombre], [video_url], [grupo_muscular]) VALUES (1, N'Press de Banca Inclinado', N'https://www.youtube.com/watch?v=xyz1', N'pecho')
INSERT [dbo].[ejercicios] ([id], [nombre], [video_url], [grupo_muscular]) VALUES (2, N'Aperturas con Mancuernas', N'https://www.youtube.com/watch?v=xyz2', N'pecho')
INSERT [dbo].[ejercicios] ([id], [nombre], [video_url], [grupo_muscular]) VALUES (3, N'Dominadas', N'https://www.youtube.com/watch?v=xyz3', N'espalda')
SET IDENTITY_INSERT [dbo].[ejercicios] OFF
GO
SET IDENTITY_INSERT [dbo].[reservas_maquinas] ON 

INSERT [dbo].[reservas_maquinas] ([id], [usuario_id], [maquina_nombre], [dia_hora]) VALUES (1, 1, N'Máquina Pecho', N'1 Lun 07:00')
INSERT [dbo].[reservas_maquinas] ([id], [usuario_id], [maquina_nombre], [dia_hora]) VALUES (2, 1, N'Máquina Pecho', N'8 Lun 07:00')
SET IDENTITY_INSERT [dbo].[reservas_maquinas] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario_rutinas] ON 

INSERT [dbo].[usuario_rutinas] ([id], [usuario_id], [ejercicio_nombre], [completado]) VALUES (13, 1, N'Fondos con peso corporal', 0)
INSERT [dbo].[usuario_rutinas] ([id], [usuario_id], [ejercicio_nombre], [completado]) VALUES (14, 1, N'Press de banca plano', 0)
INSERT [dbo].[usuario_rutinas] ([id], [usuario_id], [ejercicio_nombre], [completado]) VALUES (15, 1, N'Press de banca inclinado', 0)
SET IDENTITY_INSERT [dbo].[usuario_rutinas] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [carnet], [contrasena], [nombre_completo], [foto_perfil], [rol], [edad], [sexo], [facultad], [carrera], [imc_guardado]) VALUES (2, N'U20231258@univo.edu.sv', N'univo123', N'Steven Schafick Molina Ventura', NULL, N'alumno', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__4CDEAA6ED907B28D]    Script Date: 9/6/2026 11:42:18 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[carnet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[datos_fisicos] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[mis_rutinas] ADD  DEFAULT ((0)) FOR [completado]
GO
ALTER TABLE [dbo].[usuario_rutinas] ADD  DEFAULT ((0)) FOR [completado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('alumno') FOR [rol]
GO
ALTER TABLE [dbo].[datos_fisicos]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mis_rutinas]  WITH CHECK ADD FOREIGN KEY([ejercicio_id])
REFERENCES [dbo].[ejercicios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mis_rutinas]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reservas_maquinas]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
USE [master]
GO
